<Ui xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">
  <Script file="MainPanel.lua" />
  <Script file="CurrentPanel.lua" />
  <Script file="BrowsePanel.lua" />
  <Script file="CreatePanel.lua" />
  <Script file="WaitPanel.lua" />
  <Script file="YiXinPanel.lua" />
  <Script file="LeaderboardPanel.lua" />
  <Script file="RecommendPanel.lua" />
  <Script file="WebBrowsePanel.lua" />
  <Script file="MallPanel.lua" />
  <Script file="RewardPanel.lua" />
  <Script file="OptionPanel.lua" />
  <Script file="FavoritePanel.lua" />
  <Script file="RecentMemberPanel.lua" />
  <Script file="BlackListPanel.lua" />
  <Script file="LogPanel.lua" />
  <Script file="WebInvitePanel.lua" />
  <Script file="AnnPanel.lua" />
  <Script file="EventPusher.lua" />
</Ui>
